.Display {
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    float: right;
   /* display: flex;
    align-content: right;
    flex-direction: right;
    justify-content: right; */
}

/* .showAnswer {
    display: flex;
    flex-direction: right;
    align-content:right;
} */
