.Header {
    text-align: center;
    background: #8bc0ef;
}
.logo{
    font-size: calc(35px + 2vmin);
    color: white;
    display: inline-block;
} 

.scroll{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-bottom: 10px;
}

.stuff {
    padding-top: 2%;
    align-content: flex-start;
    /*flex-wrap: wrap; 
    display: inline-flex;
    align-items: column;  */
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    
}

h1 {
    line-height: 0;
}