.Refine {
    /* display: flex; */
    float: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    padding-left: 11%;
}

.option {
    display: flex;
    padding-top: 1%;
}
