.Refine {
    float: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    padding-top:5%;
    padding-left: 11%;
    padding-right: 5%;
}

.option {
    display: flex;
    padding-top: 1%;
}
