.Refine {
    /* display: flex; */
    flex-direction: row;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

.option {
    flex-direction: row;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 43px;
}
